.footer-img{
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
    height: 300px;
    width: 100%;
}

.footer-container{
    background-color: $black;
    height: 100%;
        .footer-row{
            display: flex;
            justify-content: space-between;
            width: 90%;
            flex-direction: column;
            margin: auto;
            align-items: center;
                .footer-widget{
                    width: 90%;
                    margin: 36px;

                    

                        h1, h2, h3, h5, h4, h6{
                            color: $oranges;
                            font-size: 27px;
                        }

                        p{
                            color: #fff;
                            font-size: 14px;
                        }

                        img{
                            display: block;
                            margin: auto;


                        }
                }
        }

        .footer-bottom-row{
            display: flex;
            width: 90%;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            margin: auto;
            border-bottom: 3px solid #fff;
            margin-bottom: 15px;
                .footer-widget{
                    width: 90%;
                    margin: 36px;
                    text-align: center;


                        h1, h2, h3, h5, h4, h6{
                            color: $oranges;
                            font-size: 27px;
                        }

                        p{
                            color: #fff;
                            font-size: 14px;
                        }

                }
                .widget_capace-social-widget{

                        .social-container{
                            
                            display: flex;
                            justify-content: space-between;
                            margin: auto;
                        }
                }
        }

        .copy{
            display: flex;
            flex-direction: column;
            width: 90%;
            align-items: center;
            margin: auto;
                .copy-left{

                        a{
                            text-decoration: none;
                            color: #fff;
                            margin: 10px;
                        }
                }
                .copy-right{
                    display: flex;
                    justify-content: space-between;
                        a{
                            text-decoration: none;
                            color: #fff;
                            margin: 10px;
                        }
                }
        }
}

@media screen and (min-width: 600px){

        .footer-container{

                .footer-bottom-row{
                    display: flex;
                    width: 90%;
                    flex-direction: row;
                    justify-content: space-between;

                        .footer-widget{
                            margin: 26px;
                            
                                p{
                                    font-size: 12px;
                                }
                        }
                        .widget_capace-social-widget{
        
                                .social-container{
                                    
                                        .fab{
                                            font-size: 26px !important;
                                        }
                                }
                        }
                }

                .copy{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                        .copy-left{
        
                                a{
                                    font-size: 12px;
                                }
                        }
                        .copy-right{
                            display: flex;
                            justify-content: space-between;
                                a{
                                    font-size: 12px;
                                }
                        }
                }
        }
}