.third-box{

        .third-container{
            height: 256px;
            width: 100%;
            background-color: $oranges;
            position: relative;

                p{
                    color: #fff;
                    font-size: 14px;
                        span{
                            margin-right: 15px;
                            width: 100%;
                        }

                }

                .top{
                    position: absolute;
                    top: -11px;
                    overflow: hidden;
                    white-space: nowrap;

                }

                .bottom{
                    position: absolute;
                    bottom: -11px;
                    overflow: hidden;
                    white-space: nowrap;

                }


        }
}