.second-box{
    background: black;
    padding-bottom: 42px;
        .address-container{
            margin: $mobilBoxSize;
                h2{
                    color: #fff;
                    font-size: 4em;
                    line-height: 3em;
                    text-transform: uppercase;

                        span{
                            color: $oranges;
                        }
                }
                .address-info{
                    

                        p{
                            color: #fff;
                            font-size: 1.6em;
                        }

                        address{

                        }

                        .zipcode{

                        }

                        .city{
                            line-height: 6em;
                            margin-bottom: 80px;
                        }
                }
        }
}

@media screen and (min-width: 400px) {
    .second-box{
        display: flex;
        padding-bottom: 0;

        video{
            width: 50%;
        }
        .address-container{
            margin-top: 0px !important;
            margin-bottom: 0px !important;
        }
    }

}