.third-box{
    
        .third-container{
            height: 256px;
            width: 100%;
            background-color: $oranges;
            position: relative;
            

                .border{
                    height: 20px;
                    width: 100%;
                    background-color: black;
                }

                .top, .bottom{
                    color: #fff;
                    font-size: 14px;
                    text-transform: uppercase;
                    
                    
                        span{
                            margin-right: 15px;

                        }

                }

                div.top{
                    position: absolute;
                    top: -9px;
                    left: 0%;
                    white-space: nowrap;
                    z-index: 20;
                    text-overflow: clip;
                    overflow: hidden;
                    //animation: animate 15s linear infinite;
                }

                div.bottom{
                    position: absolute;
                    bottom: -9px;
                    left: 0%;
                    white-space: nowrap;
                    text-overflow: clip;
                    overflow: hidden;
                    //animation: animateTwo 15s linear infinite;

                }

                .front-date{
                    position: absolute;
                    top: 40%;
                    left: 32%;
                    z-index: 10;
                    transform: translateX(-50%) translateY(-50%);
                    font-size: 6em;
                    font-weight: bold;
                    font-style: italic;
                    -webkit-text-fill-color: transparent;
                    -webkit-text-stroke-width: 3px;
                    -webkit-text-stroke-color: #fff;
                    text-overflow: clip;
                    overflow: hidden;

                }

                .back-date{
                    position: absolute;
                    top: 60%;
                    left: 68%;
                    transform: translateX(-50%) translateY(-50%);
                    font-size: 6em;
                    font-weight: bold;
                    font-style: italic;
                    color: #e9e8e8;
                    text-overflow: clip;
                    overflow: hidden;
                }


        }
}

@keyframes animate {
    0%{
        transform: translateX(-50%) ;

    }

    100%{
        transform: translateX(-20%);
        
    }
}

@keyframes animateTwo {
    0%{
        transform: translateX(-20%) ;

    }

    100%{
        transform: translateX(-50%);
        
    }
}