.front-container{
    .main_content{
        margin: auto;
        margin: $mobilBoxSize;

        .front-page-header{
            color: $black;
            font-family: 'Poppins', sans-serif;
            text-transform: lowercase;
            font-weight: bold;
            font-size: 1.8em;
            line-height: 1.9em;
            margin-bottom: 50px;
    
            span{
                color: $oranges;
                font-family: 'Caveat', cursive;
                font-size: 1.8em;
                
            }
            
        }

        p{
            color: $black;
            font-family: 'Poppins', sans-serif;
            font-size: 1.2em;
            margin-bottom: 20px;
        }
    }
}

@media screen and (min-width: 600px) {

    .front-container{
        .main_content{

    
            .front-page-header{

                font-size: 1.4em;
                line-height: 1.5em;
                margin-bottom: 50px;
        
                span{
                    font-size: 1.4em;
                    
                }
                
            }
    
            p{
                font-size: 14px;
                margin-bottom: 20px;
            }
        }
    }
}